:focus-visible {
    outline: none;
}

#calculator {
    display: flex;
    flex-direction: column;
}



#display {
    height: 40px;
    width: 80px;
    background-color: gainsboro;
    border-style: solid;
    margin-top: 10px;
}