:focus-visible {
    outline: none;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

#calculator {
    width: 324px;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #3c3940;
}

#display {
    flex: 1;
    background-color: gainsboro;
    border-style: solid;
    margin-top: 10px;
}

#buttons {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#row {
    display: flex;
    justify-content: space-between;
}

#row-bottom {
    display: flex;
    justify-content: space-between;
}

#row-bottom .left-side {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#row-bottom .right-side {
    flex: 1;
    display: flex;
}

button {
    flex: 1;
    min-width: 60px;
    min-height: 60px;
    margin: 4px;
    background-color: lightgray;
}

#row-bottom {
    display: flex;
}

#row-bottom.left-side {
    display: flex;
    flex-direction: column;
}
